<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059378956158-ifodt31ks5a12jj51a8lfv3g9c544p71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059378956158-ifodt31ks5a12jj51a8lfv3g9c544p71</string>
	<key>API_KEY</key>
	<string>AIzaSyCy0jhy16Ss6TdnT8DCd1lsFTRzR8h_Z1k</string>
	<key>GCM_SENDER_ID</key>
	<string>1059378956158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindpista.mobile</string>
	<key>PROJECT_ID</key>
	<string>mindpista</string>
	<key>STORAGE_BUCKET</key>
	<string>mindpista.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059378956158:ios:71aabf4f7b8afb58c7552f</string>
</dict>
</plist>